/* html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
} */

.viewer
{
    height: 100%;
    position: relative;
/*                background-color: lightgreen; */
    background-color: gray;
}

.wrapper
{
    border: 1px solid black;
    position: absolute;
/*
            top: 5em; 
            left: 1em;
            bottom: 1em;
            right: 1em;
*/
    top: 0em; 
    left: 0em;
    bottom: 0em;
    right: 0em;

    overflow: hidden; /*for opera*/
}

.toolbar
{
    border: 1px solid black;

    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    height: 3em;
}

#pointer
{
    background-image: url('arrow.png');
    width: 40px;
    height: 40px;
    position: absolute;
    display: none;
}